.main_content-employee-student {
  flex: 1;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;

  gap: 20px;
}

.main_content-employee-student header {
  padding: 0 20px;
  background-color: white;

  border-radius: 10px;
  font-size: 32px;
  font-weight: 700;
  /* height: 100px; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_content-employee-student header img {
  height: 30px;
  border-radius: 50px;
}

.employee-student__main-table {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
}
.employee-student__main-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.employee-student__main-table-header a.employee {
  text-decoration: none;
  background-color: #eaf5ff;
  color: #5aabf7;
  padding: 10px;

  border-radius: 5px;
}

.employee-student__main-table-header a.student {
  text-decoration: none;
  background-color: #ffeaff;
  color: #f75aef;
  padding: 10px;

  border-radius: 5px;
}

#myTable {
  /* flex: 1; */
}

#myTable tbody tr td {
  border-bottom: 1px solid #f5f2f2;
}

#myTable thead tr th {
  font-weight: 500;
  color: #9c9c9c;
  text-align: start;
  border: 0;
}

#myTable thead tr th,
#myTable tbody tr td {
  padding: 20px;
}

#myTable tbody tr:last-child * {
  border: 0 !important;
}

.main_content-profile {
  flex: 1;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100px;

  gap: 20px;
}

/* Profile */

.main_content-profile header {
  grid-column: 1 / span 2;
  padding: 0 20px;
  background-color: white;

  border-radius: 10px;
  font-size: 32px;
  font-weight: 700;
  /* height: 100px; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_content-profile header img {
  height: 30px;
  border-radius: 50px;
}

.profile_info {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.display_profile-info {
  flex: 1;
  flex-basis: 10px;

  overflow: auto;
}

.profile_info-personal-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_info-personal-details-empid {
  padding: 10px;
  background-color: #eaf5ff;
  color: #349bfc;
}

.profile_info-personal-details-studid {
  padding: 10px;
  background-color: #ffeaff;
  color: #f849ef;
}

.profile_info p:first-child {
  /* padding: 20px 0; */
  /* background-color: #f3f3f3; */
  font-size: 24px;
  font-weight: 600;
}

.profile_info p {
  margin-bottom: 10px;
  /* font-size: 24px */
}

.profile_info img {
  border-radius: 100px;
  height: 200px;
  margin-top: 50px;
}

.recent_activities {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.recent_activities p:first-child {
  font-size: 24px;
  font-weight: 600;
}
